<div class='social-media text-center'>
  <a href='https://twitter.com/omn0mn0m_' aria-label='twitter' target='_blank'>
    <svg role='img' class='feather text-secondary'>
      <desc>Twitter link</desc>
      <use xlink:href="/fonts/feather-sprite.svg#twitter"/>
    </svg>
  </a>
  
  <a href='https://linkedin.com/in/omn0mn0m' aria-label='linkedin' target='_blank'>
    <svg role='img' class='feather text-secondary'>
      <desc>LinkedIn link</desc>
      <use xlink:href="/fonts/feather-sprite.svg#linkedin"/>
    </svg>
  </a>

  <a href='mailto:me@omn0mn0m.com' aria-label='email' target='_blank'>
    <svg role='img' class='feather text-secondary'>
      <desc>Email link</desc>
      <use xlink:href="/fonts/feather-sprite.svg#mail"/>
    </svg>
  </a>
  
  <a href='https://twitch.com/omn0mn0m' aria-label='twitch' target='_blank'>
    <svg role='img' class='feather text-secondary'>
      <desc>Twitch link</desc>
      <use xlink:href="/fonts/feather-sprite.svg#twitch"/>
    </svg>
  </a>
  
  <a href='https://github.com/omn0mn0m' aria-label='github' target='_blank'>
    <svg role='img' class='feather text-secondary'>
      <desc>GitHub link</desc>
      <use xlink:href="/fonts/feather-sprite.svg#github"/>
    </svg>
  </a>
</div>
